{# templates/web/home.html.twig #}
{% extends 'base.html.twig' %}


{#{% block title %}Symfony - Welcome{% endblock %}#}


{% block body %}
    <div class="body">
        
    <div class="container">    
        {#<div id="Modal-1" class="target-click">Click me</div>#}
        

        
        <div class="row">
          {#<div class="col-lg-4">#}
                {#<h1>Columna 1</h1> #}
                {#<p>Esto es una prueba de bootstrap.</p>#}
            {#<img class="imagen-juego" src="{{ asset('images/game/imagen1.jpg') }}"  />#}
          {#</div>#}
          
         {#<div class="targets-wrapper">#}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive imagen-juego" src="{{ asset('images/game/imagen1.jpg') }}" alt="">
                        <div class="overlay">
                            <h2>SQUIDS</h2>
                            <p class="icon-links">
                                {#<a href="#">#}
                                {#    <span class="fa fa-twitter"> x </span>#}
                                {#</a>#}
                                {#<a id="Modal-1" class="target-click">x</a>#}
                                <a id="Modal-1_1" >
                                    <img class="img-responsive " src="{{ asset('images/game/puntitos.png') }}" alt="">
                                </a>
                            </p>
                        </div>
                </div>
            </div>
         
         
         

          
         {#</div>  #}
          
          {#<div class="col-lg-4">#}
                {#<h1>Columna 2</h1> #}
                {#<p>Esto es una prueba de bootstrap.</p>#}
            {#<img class="imagen-juego" src="{{ asset('bundles/acmedemo/images/game/imagen2.jpg') }}"  />#}
          {#</div>#}
          
          
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive imagen-juego" src="{{ asset('images/game/imagen2.jpg') }}" alt="">
                        <div class="overlay">
                            <h2>COLOURFULL</h2>
                            <p class="icon-links">
                                <a id="Modal-1_2" >
                                    <img class="img-responsive " src="{{ asset('images/game/puntitos.png') }}" alt="">
                                </a>
                            </p>
                        </div>
                </div>
            </div>          
          
          
          
          
          
          
          
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            {#<h1>Columna 3</h1> #}
            {#<p>Esto es una prueba de bootstrap.</p>#}
            <img class="imagen-juego" src="{{ asset('images/game/imagen3-invalida.jpg') }}"  />
        </div>
        



        
        
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            {#<h1>Columna 1</h1> #}
            {#<p>Esto es una prueba de bootstrap.</p>#}
            <img class="imagen-juego" src="{{ asset('images/game/imagen4-invalida.jpg') }}"  />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            {#<h1>Columna 2</h1> #}
            {#<p>Esto es una prueba de bootstrap.</p>#}
            <img class="imagen-juego" src="{{ asset('images/game/imagen5-invalida.jpg') }}"  />
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            {#<h1>Columna 3</h1> #}
            {#<p>Esto es una prueba de bootstrap.</p>#}
            <img class="imagen-juego" src="{{ asset('images/game/imagen6-invalida.jpg') }}"  />
          </div>
        </div>        
        
    </div>
    
    
    {#<p id="tagline">click aqui</p>#}
    {#<p class="tagline">click aqui</p>#}
 
    <script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script src="{{ asset('js/Demo.js') }}"></script>
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/funcion.js') }}"></script>
    <script src="{{ asset('js/jBox.js') }}"></script>
    <script src="{{ asset('js/jBox.min.js') }}"></script>
    <script src="{{ asset('js/jBox.Confirm.js') }}"></script>
    <script src="{{ asset('js/jBox.Confirm.min.js') }}"></script>
    <script src="{{ asset('js/jBox.Image.js') }}"></script>
    <script src="{{ asset('js/jBox.Image.min.js') }}"></script>
    <script src="{{ asset('js/jBox.Notice.js') }}"></script>
    <script src="{{ asset('js/jBox.Notice.min.js') }}"></script>

    <script>
    
    //   $(document).ready(function(){
    //         console.log("Script working properly");
    //     });
        
    </script>
    {#<script src="{{ asset('js/jquery-3.2.1.js') }}"></script>#}
    {#<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>#}
    {#<script src="{{ asset('js/jBox.js') }}"></script>#}
    {#<script src="{{ asset('js/funcion.js') }}"></script>#}
{% endblock %}

{% block javascripts %}
    {#<script src="{{ asset('js/jquery-3.2.1.js') }}"></script>#}
    {#<script src="{{ asset('js/funcion.js') }}"></script>#}
{% endblock %}
